#our_projects{
  .container{
    padding-left: 55px;
    padding-right: 0;
  }
  .our_projects{
    margin-bottom: 40px;
    h2:before{
      content: url(../img/wwa_bef.png);
      position: absolute;
      left: -52px;
      top: -20px;
    }
    h2{
      position: relative;
      font-size: 45px;
      font-family: 'Acrom' extrabold;
      color: #414042;
      max-width: 218px;
      padding-bottom: 45px;
    }
    a{
      text-decoration: none;
      p{
        position: relative;
        max-width: 110px;
        color: #439c92;
        font-size: 15px;
        border-bottom: 1px solid #439c92;
      }
      p:after{
        content: url(../img/read_more.png);
        position: absolute;
        right: -30px;
      }
    }
  }
  .our_projects_foto{
    display: flex;
    flex-direction: row;;
    flex-wrap: wrap;
    justify-content: center;
  }
    .elem{
  	height: 350px;
  	width: 350px;
  	margin: 20px;
  	overflow: hidden;
  	text-align: center;
  	position: relative;
  	-webkit-transition: .3s ease-in-out;
  	transition: .3s ease-in-out;
    .content_el{
      position: relative;
      width: 270px;
      padding-left: 50px;
      h3{
        position: absolute;
        width: 270px;
        top: 60px;
        font-size: 28px;
        color: #fff;
        text-align: left;
        transition: all 0.5s;
      }
      p{
        font-size: 18px;
        color: #fff;
        text-align: left;
        padding-top: 110px;
        display: none;
        transition: all 0.5s;
      }
      a{
        position: absolute;
        text-decoration: none;
        left: 50px;
        top: 180px;
        font-size: 13px;
        color: #fff;
        border: 2px solid #439c92;
        border-radius: 3px;
        background-color: #43909c;
        padding: 7px 17px;
        transition: all 0.5s;
      }
    }

  	.overlay{
  		position: absolute;
  		top: 0;
  		bottom:0;
  		left: 0;
  		right: 0;
  		opacity: 0;
      z-index: -1;
  		-webkit-transition: .3s ease-in-out;
  		transition: .3s ease-in-out;
  		background-color: rgba(67,156,146,0.6);
  	}
  }
  .elem:hover .overlay{
    opacity: 1;
  }
  .elem:hover h3{
    top: 40px;
  }
  .elem:hover p{
    display: block;
  }
  .elem:hover a{
    top: 220px;
    background-color: rgba(67,156,146,0.0);;
  }
  @media(max-width: 1200px){
    .elem{
      width: 300px;
      height: 300px;
      margin: 15px;
    }
  }
  .elem:hover{
    transform:scale(1.05);
    -webkit-box-shadow: 0px 0px 78px -10px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px 0px 78px -10px rgba(0,0,0,0.69);
    box-shadow: 0px 0px 78px -10px rgba(0,0,0,0.69);
    background-color: #215b55;
  }
  .el1{
      background-image: url(../img/proj1.png);
    }
    .el2{
      background-image: url(../img/proj2.png);
    }
    .el3{
      background-image: url(../img/proj3.png);
    }
    .el4{
      background-image: url(../img/proj4.png);
    }
}
